// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.no-bottom-margin{
  margin-bottom: 0px;
}

.padding-left-5{
  padding-left: 5%;
}

.padding-right-5{
  padding-right: 5%;
}

.padding-left-3{
  padding-left: 3%;
}

.padding-right-3{
  padding-right: 3%;
}

.padding-bottom-7{
  padding-bottom: 7%;
}

.padding-top-2{
  padding-top: 2%;
}

.padding-left-8{
  padding-left: 8%;
}

.padding-bottom-2{
  padding-bottom: 2%;
}

.padding-top-1{
  padding-top: 1%;
}

.padding-bottom-1{
  padding-bottom: 1%;
}

.padding-left-1{
  padding-left: 0.5%;
}

.padding-right-1{
  padding-right: 0.5%;
}


.font-10{
  font-size: 10px;
}

.h-auto{
  height: auto;
  width: 100%;
}

.padding-bottom-5{
  padding-bottom: 5%;
}

.padding-top-8{
  padding-top: 8%;
}

.icon-1{
  height: 50px;
  width: 50px;
}

.small-icon{
  height: 30px;
  widht: 30px;
}

.padding-top-5{
  padding-top: 5%;
}

.padding-bottom-25px{
  padding-bottom: 25px;
}

.non-clickable{
  pointer-events:none
}

.occ-full{
  width: 100%;
}

.rest-heading{
  font-size: 20px;
  font-family: sans-serif;
  color: #cb202d;
  font-weight: bold;
}

.rest-city{
  font-size: 15px;
  font-family: sans-serif;
  color: #00000;
  font-weight: bold;
}

.rest-address{
  font-size: 12px;
  font-family: sans-serif;
  color: #89959B;
}

.rest-cuisine{
  font-size: 12px;
  font-family: sans-serif;
  color: #89959B;
  min-height: 20px;
}

.rest-thumb{
  width: 150px;
  height: 100px;
  border-radius: 10px;
}

.verticle-scroll{
  height: 450px;   
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  margin-bottom: 5%;
}

.restaurant{
  flex-direction: column;
  min-height: 200px;
  background-color: #ffffff;
 
  @media (max-width:480px) { 
    min-height: 300px;
  };

 }

.padding-top-bottom-20px{
  padding-bottom: 20px;
  padding-top: 20px;
};

.margin-top-bottom-20{
  margin-bottom: 7px;
  margin-top: 7px;
};


.padding-bottom-8{
  padding-bottom: 8%;
}

.padding-left-3{
  padding-left: 3%;
}

.padding-right-3{
  padding-right: 3%;
}

.padding-bottom-4{
  padding-bottom: 4%;
}

.occh-full{
  height: 100%;
}

.padding-right-100px{
  padding-right: 100px;
}

.padding-top-3{
  padding-top: 3%;
}

.no-change{
  flex-grow: 0;
  flex-shrink: 0;
}

.fix-width{

  width: 800px;

  @media (max-width:320px) { 
    width: 300px;
  };
}

.pad-b{
  padding-bottom: 15px;
}

.pad-r{
  padding-right: 15px;  
}

.pad-l{
  padding-left: 15px;  
}

.pad-t{
  padding-top: 15px;  
}


.fix-width-2{

  width: 400px;

  @media (max-width:480px) { 
    width: 300px;
  };
}

.padl-1
{
  padding-left: 1px;
}

.share-dialog{
  width: 100%;
  height: 100%;
}

.pad-tblr-7{
  padding-top: 10px;
  padding-right: 5px;    
  padding-left: 5px;  
  padding-bottom: 10px;  
}


.horiz-scroll{
  height: 140px;
  overflow: hidden;   
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.sel-rest-thumb{
  width: 300px;
  height: 200px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.white-bk{
  background-color: #ffffff;
}

.m-top-2{
  margin-top: 2% 
}