<div flex class="padding-left-5 padding-right-5 padding-bottom-5 padding-top-8" layout="row">


    <div flex="25" layout="column">

       <md-autocomplete flex
        md-selected-item="location"
        md-search-text="searchText"
        md-items="item in querySearch(searchText)"
        md-item-text="location.title"
        md-delay="300"
        md-floating-label="Enter location"
        md-min-length="2"
        aria-label="auto complete"
        >
        <span md-highlight-text="searchText">{{item.title}}</span> 
        </md-autocomplete>

        <label>collections</label>
        <md-input-container class="occ-full" md-floating-label="Enter location"> 
            <md-select 
            md-option-empty 
            ng-model="selectedCollection" 
            md-selected-text="selectedCollection.collection.title" 
            >
            <md-option ng-value="collection" ng-repeat="collection in collections">{{ collection.collection.title }}</md-option>
            </md-select>
        </md-input-container>

        <br><br>


        <label>categories</label>
        <md-input-container class="occ-full">
            <md-select ng-model="selectedCategory" md-selected-text="selectedCategory.categories.name" >
                <md-option ng-value="category" ng-repeat="category in categories">{{ category.categories.name }}</md-option>
            </md-select>
        </md-input-container>


            <label>collections</label>
        <md-input-container class="occ-full">
            <md-select ng-model="selectedEstablishment" md-selected-text="selectedEstablishment.establishment.name" >
                <md-option ng-value="establishment" ng-repeat="establishment in establishments">{{ establishment.establishment.name }}</md-option>
            </md-select>
        </md-input-container>

        <br><br>

        <label>cuisines</label>
        <md-input-container class="occ-full">
            <md-select multiple ng-model="selectedCuisines" md-selected-text="selectedCuisine.establishment.name" >
                <md-option ng-value="cuisine" ng-repeat="cuisine in cuisines">{{ cuisine.cuisine.cuisine_name }}</md-option>
            </md-select>
        </md-input-container>

        <md-button md-no-ink class="md-primary" ng-click="getRestaurants()">Quick Restaurant List</md-button>
    
    </div>

    <div flex="75" layout="column" layout-align="start center" >
       <div ng-if="print"> 
           <div>
                <cl-paging  cl-pages="paging.total" , cl-steps="5" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
            </div>
            <div layout="column">
                <div ng-repeat="restaurant in print.restaurants" layout="column" flex>
                    <div layout="row" flex>
                        <div flex layout="column" flex>
                            <label class="rest-heading">{{restaurant.restaurant.name}}</label>
                            <label class="rest-city">{{restaurant.restaurant.location.city}}</label>
                            <label class="rest-address">{{restaurant.restaurant.location.address}}</label>
                        </div>
                        <div flex>
                            <img class="rest-thumb" ng-src="{{restaurant.restaurant.thumb}}" />
                        </div>
                    </div>
                    <div flex layout="column">   
                        <label class="rest-cuisine">CUISINES {{restaurant.restaurant.cuisines}}</label>
                        <label class="rest-cuisine">COST FOR TWO  {{restaurant.restaurant.currency}}{{restaurant.restaurant.average_cost_for_two}}</label>
                        <label class="rest-cuisine">RATING  {{restaurant.restaurant.user_rating.aggregate_rating}}</label>
                    </div>
                 <md-divider ng-if="!$last"></md-divider>
                </div>
            </div>
        </div>
    </div> 
    

</div>

